.job-form{

  margin-top:40px;

  background:rgba(255,255,255,.08);
-webkit-backdrop-filter: blur(15px);
  backdrop-filter:blur(15px);

  border:1px solid rgba(255,255,255,.1);

  border-radius:20px;

  padding:30px;
}

.job-form h2{

  margin-bottom:20px;
}

.job-form input,
.job-form textarea,
.job-form select{

  width:100%;

  padding:15px;

  margin-bottom:15px;

  border:none;

  border-radius:12px;

  background:rgba(255,255,255,.08);

  color:white;

  outline:none;
}

.job-form select option{

  background:#0f172a;
}

.job-form textarea{

  resize:none;

  height:120px;
}

.job-form button{

  width:100%;

  padding:15px;

  border:none;

  border-radius:12px;

  background:linear-gradient(
  135deg,
  #38bdf8,
  #8b5cf6
  );

  color:white;

  cursor:pointer;

  font-weight:bold;

  transition:.3s;
}

.job-form button:hover{

  transform:translateY(-4px);

  box-shadow:
  0 10px 30px
  rgba(56,189,248,.3);
}